[user]
	name = Pin-Cheng Shih
	email = pincheng0101@gmail.com
[init]
	templatedir = ~/.git-templates
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"%Cgreen%h%Creset %Cblue%G?%Creset %ad [%an] %Cgreen%d%Creset %s\" --date=short
	diff-status = diff --staged
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = vim
	pager = ~/.diff-so-fancy | less --tabs=4
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
